/* Instructions to show the results on a computer using the same size of an iPhone's screen */

/* Instructions for iPhone in both Portrait and Landscape Orientations */
@media only screen and (max-width: 668px) {
	* {
		margin: 0;
		padding: 0;
	}

	.easy-nav, .easy-nav > ul > li {
		list-style: none;
		display: inline-block;
		width: 100%;
	}

	.easy-nav > ul > li > a {
		display: inline-block;
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-bottom: -1px;
		border: 1px solid #DDD;
		color: #555;
		text-align: center;
		text-decoration: none;
	}
}

/* Instructions for iPhone in Portrait Orientation mode */
@media only screen and (min-width: 375px) and (orientation: portrait) {
	.easy-nav > ul > li > a {
		font-size: 1.4em;
		line-height: 35px;
	}
}

/* Instructions for iPhone on Landscape Orientation mode */
@media only screen and (min-width: 667px) and (orientation: landscape) {
	* {
		margin: 0;
		padding: 0;
	}

	.easy-nav, .easy-nav > ul > li {
		list-style: none;
		display: inline-block;
		width: 100%;
	}

	.easy-nav > ul > li > a {
		line-height: 25px;
	}
}
